/* .container__form {
  float: left;
} */
/* .form {
  columns: 2;
} */
/* .form__field {
  clear: both;
  text-align: right;
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
}
.form__select {
  margin-bottom: 20px;
}

label {
  font-size: 21px;
  line-height: 19px;
  float: left;
  padding-right: 10px;
}
input {
  margin-right: 10px;
} */

/* .form__description {
  font-size: 12px;
  line-height: 20px;
} */
